name: horovod (2GPU)

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
  pull_request:
    branches: [ main ]
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  multi-gpu-ci:
    runs-on: 2GPU

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Run tests
      run: |
        ref_type=${{ github.ref_type }}
        branch=main
        if [[ $ref_type == "tag"* ]]
        then
          git -c protocol.version=2 fetch --no-tags --prune --progress --no-recurse-submodules --depth=1 origin +refs/heads/release*:refs/remotes/origin/release*
          branch=$(git branch -r --contains ${{ github.ref_name }} --list '*release*' --format "%(refname:short)" | sed -e 's/^origin\///')
        fi
        cd ${{ github.workspace }}; tox -e py38-multi-gpu -- $branch
