name: pytorch

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-changes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install GitPython
          pip install . --no-deps
      - name: Get changed backends
        id: backend_check
        run: |
          echo "changed=$(python ci/get_changed_backends.py --backend torch --branch  ${{github.base_ref}})" >> $GITHUB_OUTPUT
    outputs:
      needs_testing: ${{ steps.backend_check.outputs.changed }}
  
  tests:
    needs: check-changes
    if: ${{needs.check-changes.outputs.needs_testing == 'true' || github.ref == 'refs/heads/main'}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.8]
        os: [ubuntu-latest]
        torch-version: ["<2.0", "~=2.0"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: |
            **/setup.cfg
            requirements/*.txt
      - name: Install Ubuntu packages
        run: |
          sudo apt-get update -y
          sudo apt-get install -y protobuf-compiler
      - name: Install Merlin dependencies
        run: |
          ref_type=${{ github.ref_type }}
          branch=main
          if [[ $ref_type == "tag"* ]]
          then
            git -c protocol.version=2 fetch --no-tags --prune --progress --no-recurse-submodules --depth=1 origin +refs/heads/release*:refs/remotes/origin/release*
            branch=$(git branch -r --contains ${{ github.ref_name }} --list '*release*' --format "%(refname:short)" | sed -e 's/^origin\///')
          fi
          pip install "pandas>=1.2.0,<1.4.0dev0"
          pip install "NVTabular@git+https://github.com/NVIDIA-Merlin/NVTabular.git@$branch"
          pip install "merlin-dataloader@git+https://github.com/NVIDIA-Merlin/dataloader.git@$branch"
          pip install "merlin-core@git+https://github.com/NVIDIA-Merlin/core.git@$branch"
          pip install "merlin-systems@git+https://github.com/NVIDIA-Merlin/systems.git@$branch"
      - name: Install dependencies
        run: |
          python -m pip install "torch${{ matrix.torch-version }}"
          python -m pip install .[pytorch-dev]
      - name: Build
        run: |
          python setup.py develop
      - name: Run unittests
        run: |
          if [[ "${{ github.ref }}" == 'refs/heads/main' ]]; then
            make tests-torch
          else
            make tests-torch-changed
          fi